body {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
}

.scrolled {
    flex-grow: 1;
    margin-left: 0px;
    margin-top: 3.6em;
    position: absolute;
    background-color: rgb(236, 235, 235);
    height: 94%;
    width: 25%;
    overflow-y: scroll;
}

.controll {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input[type=color] {
    height: inherit;
    width: 10em;
    background-color: gainsboro;
    padding: 0px;
}

input[name=expression] {
    background-color: gainsboro;
}

#app {
    width: 100%;
    height: 100%;
    flex-basis: 45em;
    position: relative;
    border-bottom: 1px solid gray;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

[data-error] {
    color: rgb(146, 38, 38);
    background-color: gainsboro;
    padding: 5px 20px;
    border-radius: 10px;
}

[data-draw] {
    border-radius: 10px;
    background-color: cornflowerblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-weight: bold;
}

.sign-input {
    margin-bottom: 10px;
    background-color: gainsboro;
}

.sign-div {
    width: 30%;
    margin-top: 20px;
    margin-left: 35%;
}

.expression {
    margin-top: 5px;
}

.row {
    margin: 10px;
    display: table-column;
}

[data-append] {
    border-radius: 10px;
    background-color: rgb(123, 174, 190);
    border-color: rgb(123, 174, 190);
    margin-left: 25%;
}

#input-expression {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-delete {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(189, 77, 83);
    border-color: rgb(189, 77, 83);
}

.btn-submit {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(69, 194, 75);
    border-color: rgb(69, 194, 75);
}

div[data-template] {
    animation-duration: 1s;
    animation-name: slidein;
    display: flex;
}

input,
button {
    padding: 10px 20px;
}

button {
    cursor: pointer;
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);

    filter: brightness(1.0);

    border: 0;
}

button:hover {
    filter: brightness(1.1);
}

input[type=checkbox] {
    width: 45px;
    height: 45px;
    position: fixed;
    margin-left: 5px;
}

.div-slider {
    display: flex;
}

.slider {
    margin-left: 10px;
    display: flex;
    width: 70%;
    opacity: 0.7;
}

.slider:hover {
    opacity: 1;
}

p[data-error] {
    animation-duration: 0.5s;
    animation-name: slidein;
    display: flex;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 80%;
}

.div-b-slider-value {
    margin-top: 0.5vh;
    margin-left: 1vw;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}

div[id=div-error] {
    display: flex;
    flex-direction: row;
}

div[id=div-error] button {
    width: 50px;
    height: 57px;
    background-color: rgb(189, 77, 83);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 5px;
    padding: 0px;
}

.btn-set-default,
.btn-zoom-in,
.btn-zoom-out {
    top: 5%;
    flex-direction: row;
    display: flex;
    position: absolute;
    right: 1%;
    background-color: gainsboro;
    border-radius: 10px;
    width: 4.5%;
    height: 5%;
    border: 0;
    padding: auto;
}

.btn-zoom-in {
    top: 11%;
    width: 2.5%;
}

.btn-zoom-out {
    top: 17%;
    width: 2.5%;
}

div[id=all-expressions] input[type=color] {
    height: 5vh;
    width: 10em;
    border: 0;
    position: fixed;
}

img {
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 5vw;
    height: 5vh;
}