{% extends "layout.html" %} 

{% block title %}
    Change Password
{% endblock %}

{% block main %}

<form action="/change_password" method="POST">
    <div class="form-group sign-div">
        <p style="font-size: larger;">Old Password</p>
        <input type="text" class="form-control sign-input" name="old-pass" placeholder="Old Password"/>
        <p style="font-size: larger;">New Password</p>
        <input type="password" class="form-control sign-input" name="new-pass" placeholder="New Password"/>
        <p style="font-size: larger;">Confirmation</p>
        <input type="password" class="form-control sign-input" name="confirm-pass" placeholder="Confirmation"/>
    </div>
    <div class="text-center">
        <button type="submit" class="btn-submit" style="border-radius: 10px;">Change</button>
    </div>
</form>

{% endblock %}