{% extends "layout.html" %}

{% block title %}
  Library
{% endblock %}

{% block main %}
  <div id="all-expressions">
    {% for e in expressions %}
    <div class="expression text-center" id="{{ e['id'] }}">
      <img src="{{ url_for('static', filename='img/'+e['name']+'-'+e['user_id']|string+'.png') }}" />
      <input id="input-expression" style="background-color: gainsboro;" value="{{ e['name'] }}" readonly="readonly" />
      <input style="background-color: gainsboro; width: 10%" value="{{ e['expression'] }}" readonly="readonly" />
      <input type="color" value="{{ e['color'] }}" readonly="readonly" />
      <button onclick="deleteGraph(`{{ e['id'] }}`)" class="btn-delete" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px; margin-left: 2.8%;">Delete</button>
      <input type="checkbox" value="{{ e['id'] }}" />
    </div>
    {% endfor %}
  </div>
  <form action="/library" method="POST" id="form-library">
    <div class="expression text-center">
      <input type="text" name="secret-field" id="ids" hidden />
      <button class="btn-submit" style="border-bottom-left-radius: 10px; border-top-left-radius: 10px; margin-top: 10px;" onclick="load()">Load</button>
    </div>
  </form>
{% endblock %}