{% extends "layout.html" %}

{% block title %}
  Library
{% endblock %}

{% block main %}
  <form action="/library" method="POST">
    <script>
      function add_graphs_to_load()
      {
        let to_load_graphs = []
        const expressions = document.querySelector('div[id=all-expressions]').querySelectorAll('div')
        expressions.forEach(exp => {
          const inputs = exp.getElementsByTagName('input')
          const checkbox = inputs[inputs.length - 1]

          if (checkbox.checked)
            to_load_graphs.push(checkbox.value)
        })
        return to_load_graphs
      }
    </script>
    <div id="all-expressions">
      {% for e in expressions %}
      <div class="expression text-center">
        <input id="input-expression" style="background-color: gainsboro;" value="{{ e['name'] }}" readonly="readonly" />
        <input style="background-color: gainsboro; width: 10%" value="{{ e['expression'] }}" readonly="readonly" />
        <input style="width: 100px; background-color: gainsboro;" value="{{ e['color'] }}" readonly="readonly" />
        <input type="checkbox" value="{{ e['id'] }}" readonly="readonly" />
      </div>
      {% endfor %}
    </div>
    <div class="expression text-center">
      <input type="button" class="btn-submit" style="border-bottom-left-radius: 10px; border-top-left-radius: 10px; margin-top: 10px;" onclick="load(add_graphs_to_load())" value="Load" />
    </div>
  </form>
{% endblock %}