{% extends "layout.html" %} 

{% block title %}
    Sign In
{% endblock %}

{% block main %}

<form action="/sign_in" method="POST">
    <div class="form-group sign-div">
        <p style="font-size: larger;">Name</p>
        <input type="text" class="form-control sign-input" name="username" placeholder="Name"/>
        <p style="font-size: larger;">Password</p>
        <input type="password" class="form-control sign-input" name="password" placeholder="Password"/>
    </div>
    <div class="text-center">
        <button type="submit" class="btn-submit" style="border-radius: 10px;">Sign In</button>
    </div>
</form>

{% endblock %}